@import './mixins';
@include breakpoint-up(medium) {
	.wholeImageList {
		width: 60%;
		margin: 0 auto;
	}
}

@include breakpoint-up(large) {
	.wholeImageList {
		padding: 50px;

		margin: 0 auto;
	}
}

.wholeImageList {
	padding: 25px;
	max-width: 100%;
	max-height: 100%;
}
.MuiImageListItem-root {
	height: 50% !important;
	width: auto !important;
}

.toggle--checkbox {
	margin-left: 30px;
}

input[type='search'],
input[type='search']:focus {
	background: transparent;
	border: none;
	outline-width: 0;
}
