.theme-dark {
	--dark-text: #b5b5b5;
	--light-text: #f9f8f8;
	--dark-background: #1d272c;
	--light-background: #586f7c;
	--accent: #b8dbd9;
	--button-border: #b8dbd9;
	input,
	select,
	textarea {
		color: #b5b5b5;
	}

	.search__input {
		border: 1px solid #b5b5b5;
	}
}

.theme-light {
	--dark-text: #5e4b56;
	--light-text: #5e4b56;
	--dark-background: #dbe7e4;
	--light-background: #eee9e6;
	--accent: #dbe7e4;
	--button-border: #5e4b56;
	input,
	select,
	textarea {
		color: #5e4b56;
	}
	.search__input {
		border: 1px solid rgb(0, 0, 0);
	}
}

html,
#root {
	background-color: var(--dark-background);
	color: var(--dark-text);
}

nav {
	background-color: var(--dark-background);
	color: var(--light-text);
}

.main-container {
	background-color: var(--light-background);
}
